{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
Forside
{% endblock title %}
{% block head %}
<style>
  table {
    border: solid black 1px;
  }

  td {
    height: 1.5rem;
    width: 1.5rem;
  }
</style>
{% endblock %}
{% block header %}
{% endblock header %}

{% block content %}
<h3>Alle tal trukket:</h3>
<table class="table">
  <tbody>
    {% for col in numbers %}
    <tr>
      {% for row in col %}
      <td>{% if row != 0 %}&nbsp;{{ row }}&nbsp;{% else %}&nbsp;&nbsp;&nbsp;{% endif %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>Trukket idag:</p>
<table class="table table-striped">
  <tr>
    {% for index in range(end=drawn_today | length) %}
    {% if index % 10 == 0 %}
  </tr>
  <tr>
    {% endif %}
    <td>
      {{ drawn_today[index] }}
    </td>
    {% endfor %}
  </tr>
</table>
<p>Tal i trækningsrækkefølge:</p>
<table class="table table-striped">
  <tr>
    {% for index in range(end=chrono_numbers | length) %}
    {% if index % 10 == 0 %}
  </tr>
  <tr>
    {% endif %}
    <td>
      {{ chrono_numbers[index] }}
    </td>
    {% endfor %}
  </tr>
</table>
</p>
{% endblock content %}