{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
Forside
{% endblock title %}
{% block head %}
<style>
  td {
    height: 1.5rem;
    width: 1.5rem;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
</style>
{% endblock %}
{% block header %}
Forside
{% endblock header %}

{% block content %}
<h3>Alle tal trukket:</h3>
<table class="table table-striped">
  <tbody>
    {% for col in numbers %}
    <tr>
      {% for row in col %}
      <td>{% if row != 0 %}&nbsp;{{ row }}&nbsp;{% else %}&nbsp;&nbsp;&nbsp;{% endif %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>Træningsrækkefølge:</p>
<table>
  <tr>
    {% for number in chrono_numbers %}
    <td>
      {{ number }}
    </td>
    {% endfor %}
  </tr>
</table>
</p>
{% endblock content %}