{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
Vindere
{% endblock title %}
{% block header %}
{% endblock header %}

{% block content %}
<form>
    <button>Jeg har vundet!</button>
</form>
{% if claims %}
<h3>Dem der mener de har vundet:</h3>
<table class="table">
    <thead>
        <tr>
            <td>Hvem</td>
            <td>Hvordan</td>
            <td>Indmeldt</td>
        </tr>
    </thead>
    <tbody>
        {% for winner in claims %}
        <tr>
            <td>{{ winner }}</td>
            <td>{{ winner }}</td>
            <td>{{ winner }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Ingen har meldt at de har vundet, endnu.</p>
{% endif %}
{% endblock content %}